@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --text-default-color: #131313;
    --card-link-color: #199a73;
    --bs-font-sans-serif: "Roboto"
}

* {
    font-family: var(--bs-font-sans-serif);
}

span, a, p, div, h1, h2, h3 {
    color: var(--text-default-color);
}

.author-description-text, .pre-line-text {
    white-space: pre-line
}

.author-text {
    white-space: pre-line;
    max-height: 600px;
    overflow-y: auto;
    text-align: justify;
}

.pre-line-child *:not(strong) {
    white-space: pre-line;
}


.centurydescription-text, .pre-line-text {
    white-space: pre-line;
}

.logotype-images > img {
    width: 25px !important;
    height: 25px !important;
}

.flipcard-image-front {
    height: 300px;
    width: 250px;
    object-fit: cover;
}

.text-blue {
    color: #267cab;
}

.text-green {
    color: #29b997;
}

.supercategory-image {
    height: 250px;
}

.hidden {
    display: none;
}

.logo-img {
    height: 55px;
}

.search-wrapper {
    padding-right: 25px;
    border-bottom: 1px lightgrey solid;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}

.search-input {
    border: none;
    outline: none;
    font-size: 13px;
}

.search-icon {
    position: absolute;
    right: 3px;
    height: 15px;
    top: 5px;
}

.nav-category {
    font-size: 13px;
    text-decoration: none;
    color: gray;
}

.nav-supercategory {
    font-size: 15px;
    text-decoration: none;
}

.card-new {
    transition: 0.2s;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.card-new.card-new-sm {
    height: auto;
}

.card-new.card-new-lg {
    height: 600px;
}

.card-new:hover {
    box-shadow: 0 0 10px rgba(28, 28, 28, 0.75);
}

.new-card-image {
    height: 250px;
    width: 100%;
}

.new-card-body, .new-card-footer, .new-card-title {
    padding: 15px;
}

.new-card-expand {
    margin-left: 15px;
}

.new-card-expand > span {
    font-size: 15px;
    color: var(--card-link-color);
    cursor: pointer;
}

.new-card-title {
    font-weight: 500;
}

.new-card-body {
    font-size: 14px;
    font-weight: 200;
}

.new-card-footer {
    margin-top: auto;
}

.new-card-footer > a {
    display: block;
    color: var(--card-link-color);
    font-size: 15px;
    text-decoration: none;
}

.century-item {
    padding: 3px 6px;
    border: 1px solid lightgray;
    text-decoration: none;
    font-size: 14px;
    color: #2c2c2c;
}

.bg-green {
    background: #ecefed;
}

.bg-blue {
    background: #d896ec;
}

.bg-rose {
    background: #fadadd;
}

.bg-silver {
    background: #dbbcdb;
}


.gallery-items {
    display: flex;
    overflow: auto;
    width: 630px;
    white-space: nowrap;
}

.gallery-item {
    position: relative;
}

.gallery-item:hover {
    cursor: pointer;
}

.gallery-item > .fa-youtube {
    position: absolute;
    top: 45px;
    left: 65px;
    font-size: 72px;
    color: #e11d1d;
}

.gallery-item > img {
    height: 150px;
}

.gallery-item:not(:first-child) {
    margin-left: 5px;
}

.active-image {
    height: 500px;
    max-width: 600px;
}

.gallery-iframe {
    width: 100%;
    height: 350px;
}

.card-new.video-card iframe {
    height: 180px;
}
.card-new.video-card .new-card-header {
    height: 250px;
}

.picture {
    width: 100%;
    height: 350px;
}