.author-description-text, .pre-line-text {
    white-space: pre-line
}
.pre-line-child *:not(strong) {
    white-space: pre-line;
}


.centurydescription-text, .pre-line-text {
    white-space: pre-line;
}

.logotype-images > img {
    width: 25px!important;
    height: 25px!important;
}
.flipcard-image-front {
    height: 300px;
    width: 250px;
    object-fit: cover;
}