<nav class="navbar navbar-expand-lg navbar-light border-bottom mb-3">
    <div class="container flex-column">
        <div class="d-flex w-100">
        
            <div>
                
                <a class="ms-2 nav-supercategory"
                     href="/"><img class="ms-2 logo-img" src="/media/image/logo.jpeg" alt=""> 005.ru</a>
            </div>
            <div class="ms-auto mt-2 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    {% for nav_category in navbar_categories %}
                        <a class="nav-category ms-2"
                           href="{{ nav_category.get_absolute_url }}">{{ nav_category.short_name.capitalize }}</a>
                    {% endfor %}
                </div>
                <div class="search-wrapper ms-4">
                    <form action="/search" method="get">
                        <input name="search" class="search-input" id="id_search" placeholder="Поиск" title="Поиск" type="text">
                    </form>
                    <svg version="1.1" class="search-icon" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51.539 51.361"
                         enable-background="new 0 0 51.539 51.361" xml:space="preserve"><path fill="#444" d="M51.539,49.356L37.247,35.065c3.273-3.74,5.272-8.623,5.272-13.983c0-11.742-9.518-21.26-21.26-21.26 S0,9.339,0,21.082s9.518,21.26,21.26,21.26c5.361,0,10.244-1.999,13.983-5.272l14.292,14.292L51.539,49.356z M2.835,21.082 c0-10.176,8.249-18.425,18.425-18.425s18.425,8.249,18.425,18.425S31.436,39.507,21.26,39.507S2.835,31.258,2.835,21.082z"></path></svg>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="mx-auto d-flex align-items-center">
                {% for nav_supercategory in navbar_supercategories %}
                    <a class="ms-2 nav-supercategory"
                       href="{{ nav_supercategory.get_absolute_url }}">{{ nav_supercategory.name.capitalize }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>

