<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="nav-link active" aria-current="page" href="/">мыслю, значит существую</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/5.html">005.ru: что можно сделать за 5 минут?</a>
                <li class="nav-item dropdown">
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">о проекте</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        категории
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/category/artist">арт</a></li>
                        <li><a class="dropdown-item" href="/category/director">кино</a></li>
                        <li><a class="dropdown-item" href="/category/writer">литература</a></li>
                        <li><a class="dropdown-item" href="/category/music">музыка</a></li>
                        <li><a class="dropdown-item" href="/category/spiritual">религия</a></li>
                        <li><a class="dropdown-item" href="/category/philosopher">философия</a></li>


                    </ul>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!--<i class="fas fa-user-tie"></i> {{ request.user.username }}-->
                            </a>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </div>

</nav>

