<div class="accordion mt-3" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="d-flex align-items-center justify-content-center">
                    {% if not author.creation_author %}
                        <p class="m-0 text-center">{{ author.name }}. Краткая биография</p>
                    {% else %}
                        <p class="m-0 text-center">Краткое содержание произведения</p>
                    {% endif %}
                </div>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p class="author-description-text">{{ author.text }}</p>
            </div>
        </div>
    </div>
</div>