{% extends 'base.html' %}
{% block content %}

    <p>
    <div>
        <p>005.ru - это информационная образовательная пирамидка.
        <p> На главной странице вы найдете изображения нужного раздела.
        <p>Если вы коснетесь картинки, она перевернется и впустит в свой мир.
        <p> Вы сможете включить видео, из которого, вы за 5 минут, почерпнете
        <p> предельно концентрированную и обобщенную информацию по всей теме .
            <br><br>
        <p> Если вы захотите погрузиться в объем информации глубже,
        <p> тогда смело кликайте на название под изображением.
        <p> Вам откроется соответсвующие теме разделы с видео и
            описанием.
        <p> Нужно будет коснутся соответсвующей карточки. Так можно продвигаться глужбе и выйти на авторов,
        <p> у которых, в свою очередь, тоже есть свой слой с кратким или подробным описанием и
        <p> возможностью выбора краткого или подробного видео.
            <br><br>
        <p> Вся информации структурирована так, чтобы ее можно было понять за 5 минут.
        <p>Также на хронологической линейке соответсвующего раздела, при нажатии на цифру нужного века,
        <p> появится сравительная информация по катеогрия о собитиях происходивших в интересующее вас время,
        <p> и персонах, которые в это время жили.
        </p>

    </div>

{% endblock %}
