{% extends 'base.html' %}
{% block content %}
<p></p>
<p>
    <center>   <h5><mute> Творец сотворил мир, и человек призван быть сотворцем, думаю это отзывается в каждом</mute></h5></center>
<center>   <h5><mute> мне хотелось, в рамках одного проекта, собрать весь значимый, с моей точки зрения, пласт мировой культуры,</mute></h5></center>
<center>   <h5><mute> чтобы каждый, при желании, смог для себя ответить на вопрос зачем живет человек и полюбить его</mute></h5></center>
<center>   <h5><mute> я старался структурировать те области познания, которые затрагивал, </mute></h5></center>
<center>   <h5><mute> так, чтобы они были доступны даже детскому восприятию </mute></h5></center>
<center>   <h5><mute> я старался использовать, с моей точки зрения,опыт лучших лекторов в своих областях </mute></h5></center>
<center>   <h5><mute> и да,я уверен, что этот проект должен быть общедоступным и полностью бесплатным</mute></h5></center>
<center>   <h5><mute> в настоящее время вы найдете в проекте множество пробелов, но, надеюсь, они будут со временем исчезать</mute></h5></center>
<center>   <h5><mute> наши авторы: </mute></h5></center>
<center>   <h5><mute> Андрей Борислвич Зубов </mute></h5></center>
<center>   <h5><mute> Марина Валентиновна Михайлова</mute></h5></center>
<center>   <h5><mute> Ирина Владимировна Смулевич</mute></h5></center>
<center>   <h5><mute> Алекандр Иосифович Архангельский</mute></h5></center>
</p>

{% endblock %}