{% extends 'base.html' %}
{% block content %}


    <p>

    <p> Сайт www.005.ru является некоммерческим проектом, созданным в информационных, образовательных и научных целях.
    <p> Опубликованные информационные материалы полностью соответствуют законодательству РФ и публикуются в
    <p> информационных и учебных целях, с обязательным указанием Авторов . Материалы, используемые на сайте, имеют
        минимальное
    <p> разрешение (что не позволяет использование их в коммерческих целях). Качество и количество материалов
    <p> публикуется только в минимальном объёме, оправданном для цитирования.
    <p> Информация, выложенная на этом сайте, является видением разработчика, и не является
    <p> энциклопедией.
     <br><br>
    <p> Если вы не согласны с мнением разработчика или контекстом, прошу вас незамедлительно покинуть этот ресурс.
    <p> Если окажется, что разработчиком, непреднамеренно, нарушены чьи-то авторские права или интересы,
    <p> разработчик просит незамедлительно известить его письмом по электронной почте по адресу: info@005.ru,
    <p> после чего контент, на который будут предьявлены права, будет удален.

        <br><br>
    <p>Видеолекции - прямые ссылки с сайта "youtube", авторы которых разрешили встраивать свой контент на другие
        ресурсы.
    <p> В случае запрета просмотра видеоматериалов с внешних ресурсов, всегда можно посмотреть контент на сайте
        "youtube".

    <p>На сайте есть лекции, прочитаные Андреем Борисовичем Зубовым в 2016 -2019 годах в рамках проекта, организованного
        компанией "Прямая речь". https://www.pryamaya.ru/.
    <p>*НАСТОЯЩИЙ МАТЕРИАЛ (ИНФОРМАЦИЯ) ПРОИЗВЕДЕН, РАСПРОСТРАНЕН И (ИЛИ) НАПРАВЛЕН
    <p>ИНОСТРАННЫМ АГЕНТОМ ЗУБОВЫМ АНДРЕЕМ БОРИСОВИЧЕМ,
    <p>ЛИБО КАСАЕТСЯ ДЕЯТЕЛЬНОСТИ ИНОСТРАННОГО АГЕНТА ЗУБОВА АНДРЕЯ БОРИСОВИЧА,
    <p>СОДЕРЖАЩЕГОСЯ В РЕЕСТРЕ ФИЗИЧЕСКИХ ЛИЦ, ВЫПОЛНЯЮЩИХ ФУНКЦИИ ИНОСТРАННОГО АГЕНТА 17.02.2023
    <p>ПРОСМАТРИВАЯ  ВИДЕО С УЧАСТИЕМ ЗУБОВА АНДРЕЯ БОРИСОВИЧА, ВЫ ПОДТВЕРЖДАЕТЕ, ЧТО ВЫ ЯВЛЯЕТЕСЬ СОВЕРШЕННОЛЕТНИМ.
    ЕСЛИ ЭТО НЕ ТАК, НЕ СМОТРИТЕ ЕГО.

{% endblock %}
