{% extends 'base.html' %}
{% block content %}
<p></p>
  флип-флоп

         <p><a style="color:rgb(229, 152, 147)" href="javascript:flipflop('animals');">{'у вас выводится иное от введенного значение тиража?'}</a></p>

<ul id="animals" style="display: none;">
    <li><div id="browse_app">
</li>
<li><div id="browse_app">

  в случае, если вы ввели число не попадающие в диапазон между минимальным и макисмальным тиражом,
    рассчет будет произведен по одной из границ.Алгоритм ориентируется на min или max тиражи,
    то есть автоматически увеличивает тираж до минимального, или считает не больше максимального.

</li>

</div>


<p>
    <center>   <h5><mute> Творец сотворил мир, и человек призван быть сотворцем</mute></h5></center>
<center>   <h5><mute> этот сайт - попытка сказать своей дочери, что мир вокруг интересен и заслуживает  </mute></h5></center>

</p>

{% endblock %}
