{% extends "base.html" %}
{% block content %}
    {% load static %}

    <script src="{% static 'core/player.js' %}"></script>
    <div class="container my-5">
        <div class="card">
            <div class="row audio-root">
                <div class="img-big-wrap">
                    <img align="center" src="{{ author.image.url }}" class="img-fluid" style="width: 250px;">
                </div>
                <div>
                    {{ author.name }}
                </div>
                <p>{{ author.text_preview }}</p>
                <div>
                    {% for century in centuries %}
                        <a href="/antogonist/{{ antogonist.0 }}">{{ antogonist.1 }}</a>
                    {% endfor %}
                </div>

                {% for song in author.songs.all %}
                    <div class="audio {% if forloop.counter != 1 %}hidden{% endif %}" id="id_{{ song.id }}">
                        <div>
                            <br>
                            {{ song.name }}
                            {{ song.singer }}
                            {{ song.text }}
                            {{ song.about }}
                        </div>


                        <div class="main-song">
                            {% if song.file %}
                                <audio controls src="{{ song.file.url }}" preload="auto">
                                </audio>
                            {% endif %}
                        </div>
                        <div class="analysis">
                            {% if song.analysis %}
                                <audio controls src="{{ song.analysis.url }}">
                                </audio>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <select class="select-audio" name="audio" id="id_audio">
                    {% for song in author.songs.all %}
                        {% if song.file %}
                            <option value="{{ song.id }}">
                                {{ song.name }}
                                {{ song.text }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="videos">
            <div class="audio-root">
                    {% for video in author.videos.all %}
                        <div id="id_{{ video.id }}" class="audio {% if forloop.counter != 1 %}hidden{% endif %}">
                            <iframe width="560" height="315" src="{{ video.slug }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                    <div>
                        <select class="select-audio">
                            {% for video in author.videos.all %}
                                <option value="{{ video.id }}">
                                    {{ video.name }}
                                </option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
        </div>
        <div class="pictures">
            <div class="audio-root">
                    {% for picture in author.pictures.all %}
                        {% if picture.file %}
                            <div id="id_{{ picture.id }}" class="audio {% if forloop.counter != 1 %}hidden{% endif %}">
                                <img src="{{ picture.file.url }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <select class="select-audio">
                            {% for picture in author.pictures.all %}
                                {% if picture.file %}
                                    <option value="{{ picture.id }}">
                                        {{ picture.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
