{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% load static %}
{% block extra_static %}
	<script src="{% static 'core/gallery.js' %}"></script>
{% endblock %}
{% block content %}

        <div class="container mt-3">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-12 col-md-3 mb-3">
                        <div class="card-new card-new-lg">
                            {% if object.image %}
                                <div class="new-card-header">
                                    <a href="{{ object.get_absolute_url }}">
                                        <img width="260" src="{{ object.image.url }}"
                                             alt="{{ object.name }}"
                                             class="new-card-image">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="new-card-title">{{ object.name }}</div>
                            {% if object.get_first_video_id %}
                                <div {% if object.image %}data-img-src="{{ object.image.url }}"{% endif %}
                                     data-url="{{ object.get_absolute_url }}"
                                     data-img-alt="{{ object.name }}"
                                     data-src="{{ object.get_first_video_id }}"
                                     class="new-card-expand">
                                    <span class="video-play">
                                        <i class="fas fa-play"></i>
                                    </span>
                                    <span class="video-pause ms-2">
                                        <i class="fas fa-pause"></i>
                                    </span>
                                </div>
                            {% endif %}
                            <div class="new-card-body">
                                <p>{{ object.text_preview }}</p>
                            </div>
                            <div class="new-card-footer">
                                {% if not category.is_disabled %}
                                    <a href="{{ object.get_absolute_url }}">Подробнее</a>
                                {% else %}
                                    <a href="#" class="new-card-empty-link">Раздел в разработке</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    <div>
        {% if view.kwargs.slug == 'philosopher' %}
            <hr>
            <h6 style="color:#0037ff">схемы ниже - слайдер: тянем слева направо</h6>
            <hr>
        {% endif %}
    </div>

    <script src="{% static 'core/player.js' %}"></script>
    {% if view.kwargs.slug == 'philosopher' %}
        <div class="scroll-container">


            <img src="/media/images/1.webp" width="600" height="400">
            <img src="/media/images/2.webp" width="600" height="400">
            <img src="/media/images/3.webp" width="600" height="400">
            <img src="/media/images/4.webp" width="600" height="400">

        </div>
    {% endif %}
    {% if view.kwargs.slug == 'genre/drevnegrecheskaya-filosofiya-6-vek-do-ne-6-vek-ne/detail' %}
        <div class="scroll-container">

            <img src="/media/images/1.webp" width="600" height="400">
            <img src="/media/images/2.webp" width="600" height="400">
            <img src="/media/images/3.webp" width="600" height="400">

        </div>
    {% endif %}
    <script>
    initCards()
    </script>
{% endblock %}  



