{% extends 'base.html' %}
{% block content %}

    {% load static %}
    <center>

        {% if view.kwargs.slug != 'director' %}
            <br>
            <label for="customRange3" class="form-label">столетие:</label>
            {% comment %}<input type="range" class="form-range" min="0" max="5" step="1" id="customRange3">{% endcomment %}
        {% endif %}
        {% for century in centuries %}
            <a class="text-dark" href="{{ century.get_absolute_url }}"> {{ century.century.display_name }}</a>
        {% endfor %}

        <div class="container mt-3">
            {% for object in object_list %}
                <div class="bg-link d-inline-block">
                    <div>
                        {% if object.image %}
                            <div class="flip-card audio-root">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img class="" src="{{ object.image.url }}" alt=""
                                             style="width:250px;height:300px;">
                                    </div>

                                    <div class="flip-card-back">
                                        {% if object.website %}
                                            <div id="ytplayer">
                                                <iframe width="250" height="110" src="{{ object.website }}"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen></iframe>
                                            </div>
                                            {{ object.text_preview }}
                                            <div>
                                                {% for song in object.songs.all %}
                                                    {% if song.file %}
                                                        <div class="audio {% if forloop.counter != 1 %}hidden{% endif %}"
                                                             id="id_{{ song.id }}">
                                                            <audio style="width: 250px" controls
                                                                   src="{{ song.file.url }}"></audio>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if object.songs.exists %}
                                                    <select class="select-audio" name="audio" id="id_audio">
                                                        {% for song in object.songs.all %}
                                                            {% if song.file %}
                                                                <option value="{{ song.id }}">
                                                                    {{ song.name }}
                                                                </option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div>
                            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </center>
    <style>
        hr {
            border: none; /* Убираем границу */
            background-color: #a92d2d; /* Цвет линии */
            color: #835364; /* Цвет линии для IE6-7 */
            height: 5px; /* Толщина линии */
        }
    </style>
    <div>
        {% if view.kwargs.slug == 'philosopher' %}
            <hr>
            <h6 style="color:#0037ff">схемы ниже - слайдер: тянем слева направо</h6>
            <hr>
        {% endif %}
    </div>

    <script src="{% static 'core/player.js' %}"></script>
    {% if view.kwargs.slug == 'philosopher' %}
        <div class="scroll-container">


            <img src="/media/images/1.webp" width="600" height="400">
            <img src="/media/images/2.webp" width="600" height="400">
            <img src="/media/images/3.webp" width="600" height="400">
            <img src="/media/images/4.webp" width="600" height="400">

        </div>
    {% endif %}
    {% if view.kwargs.slug == 'genre/drevnegrecheskaya-filosofiya-6-vek-do-ne-6-vek-ne/detail' %}
        <div class="scroll-container">

            <img src="/media/images/1.webp" width="600" height="400">
            <img src="/media/images/2.webp" width="600" height="400">
            <img src="/media/images/3.webp" width="600" height="400">

        </div>
    {% endif %}

    <style>
        .scroll-container {
            width: 11400px;
        }

        img {
            height: 500px;
            width: 500px;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .flip-card {
            background-color: transparent;
            width: 250px;
            height: 300px;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front,
        .flip-card-back {
            vertical-align: middle;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: #bbb;
            color: black;
        }

        .flip-card-back {
            background-color: #2980b9;
            color: white;
            text-align: center;
            transform: rotateY(180deg);
        }

        .scroll-container {
            width: auto;
            overflow-x: auto;
            white-space: nowrap;
        }

        div.scroll-container img {
            padding: 10px;

        }

        .scroll-item {
            display: inline-block;
            width: 150px;
            height: 150%;
            background-color: lightblue;
            margin-right: 1px;
        }
    </style>
{% endblock %}  



