{%extends "base.html"%}
{% block content %}

<p></p>

<div>
  <div class="container">
    <div class="row">

      {%for object in object_list%}
      {%if object.image%}


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Особое обращение с заголовком</h5>
        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ object }}</h5>
        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
        <p><a href="{{ object.get_absolute_url }}"><img src="{{object.image.url}}" alt=""
          style="width:200px;height:200px;"></a></p>
      </div>
    </div>
  </div>
</div>



{% endif %}
{% endfor %}
{% endblock %}