{% extends "base.html" %}
{% block title %}Раздел {{ object.name }}{% endblock %}
{% block description %}
    Исследуйте разнообразие жанров от средневековья до современности: {{ object.name }} и многие
    другие. Узнайте об их особенностях, истории и значимых произведениях в каждом жанре.
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            {% for object in object_list %}
                <div class="col-12 col-md-3 mb-3">
                    <div class="card-new {% if object.text_preview %}card-new-lg{% endif %}">
                        {% if object.image %}
                            <div class="new-card-header">
                                <a href="{{ object.get_absolute_url }}">
                                    <img width="260" src="{{ object.image.url }}"
                                         alt="{{ object.name }}"
                                         class="new-card-image">
                                </a>
                            </div>
                        {% endif %}
                        <div class="new-card-title">{{ object.name }}</div>
                        {% if object.get_first_video_id %}
                                <div {% if object.image %}data-img-src="{{ object.image.url }}"{% endif %}
                                     data-url="{{ object.get_absolute_url }}"
                                     data-img-alt="{{ object.name }}"
                                     data-src="{{ object.get_first_video_id }}"
                                     class="new-card-expand">
                                    <span class="video-play">
                                        <i class="fas fa-play"></i>
                                    </span>
                                    <span class="video-pause ms-2">
                                        <i class="fas fa-pause"></i>
                                    </span>
                                </div>
                            {% endif %}
                        {% if object.text_preview %}
                            <div class="new-card-body">
                                <p>{{ object.text_preview }}</p>
                            </div>
                        {% endif %}
                        <div class="new-card-footer">
                            {% if not category.is_disabled %}
                                <a href="{{ object.get_absolute_url }}">Подробнее</a>
                            {% else %}
                                <a href="#" class="new-card-empty-link">Раздел в разработке</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}S

