{% extends "base.html" %}
{% block title %}Раздел {{ object.name }}{% endblock %}
{% block description %}
    Исследуйте разнообразие жанров от средневековья до современности: {{ object.name }} и многие
    другие. Узнайте об их особенностях, истории и значимых произведениях в каждом жанре.
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            {% for object in object_list %}
                <div class="col-12 col-md-3 mb-3">
                    <div class="card-new {% if object.text_preview %}card-new-lg{% endif %}">
                        {% if object.image %}
                            <div class="new-card-header">
                                <a href="{{ object.get_absolute_url }}">
                                    <img width="260" src="{{ object.image.url }}"
                                         alt="{{ object.name }}"
                                         class="new-card-image">
                                </a>
                            </div>
                        {% endif %}
                        <div class="new-card-title">{{ object.name }}</div>
                        <div class="new-card-expand">
                            <span><i class="fas fa-play"></i><i class="fas fa-pause ms-2"></i><i
                                    class="fas fa-volume-up ms-2"></i><i class="fas fa-volume-down ms-2"></i><i
                                    class="fas fa-volume-mute ms-2"></i><i class="fas fa-step-forward ms-2"></i><i
                                    class="fas fa-step-backward ms-2"></i><i class="fas fa-expand ms-2"></i></span>
                        </div>
                        {% if object.text_preview %}
                            <div class="new-card-body">
                                <p>{{ object.text_preview }}</p>
                            </div>
                        {% endif %}
                        <div class="new-card-footer">
                            {% if not category.is_disabled %}
                                <a href="{{ object.get_absolute_url }}">Подробнее</a>
                            {% else %}
                                <a href="#" class="new-card-empty-link">Раздел в разработке</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}S

