{%extends "base.html" %}
{% block content %}
<p></p>

<div class="container">
    <div class="row">

        {% for genre in genre_list %}

        <div class="card" style="width: 16rem;">
            <div class="col-md-3 col-lg-12   col-sm-6">
                <div class="row">
                    <div class="card-img">
                        <a href="{{genre.get_absolute_url}}"><img class="" src="{{genre.image.url}}" class="rounded"
                                alt="" style="width:150px;height:150px;">
                            <h7 class="card-title"></h7>
                            <p class="card-text"></p>
                            {{ genre.name }}
                            <p><a href="{{ genre.get_absolute_url }}" class="btn btn-secondary"></a></p>

                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
        {% endblock %}