{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block description %}Откройте для себя великих деятелей культуры: биографии, ключевые работы, трактаты и влияние на
    мировую историю. Кратко и содержательно о выдающихся философах, литераторах и других значимых
    личностях.{% endblock %}
{% block content %}

    <div>
        <div class="container">
            <div class="row">
                {% for category in categories %}
                    <div class="col-12 col-md-3">
                        <div class="card-new">
                            {% if category.main_image %}
                                <div class="new-card-header">
                                    <a href="{{ category.get_absolute_url }}">
                                        <img width="260" src="{{ category.main_image.url }}"
                                             alt="{{ category.name }}"
                                             class="new-card-image">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="new-card-title">{{ category.name.capitalize }}</div>
                            <div class="new-card-body">
                                <p>{{ category.about_text.capitalize }}</p>
                            </div>
                            <div class="new-card-footer">
                                {% if not category.is_disabled %}
                                    <a href="{{ category.get_absolute_url }}">Подробнее</a>
                                {% else %}
                                    <a href="#" class="new-card-empty-link">Раздел в разработке</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}