<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block content %}

    <p>
    <div>
        <head>
            <meta charset="UTF-8">
            <title>Зачем?</title>

            <p>Получив техническое образование, разработчик считал его вполне достаточным</p>
            <p> пока , позже, уже в зрелом возрасте, не добавил к первому второе - гуманитарное образование.
            <p> Тогда стало понятно, что и оно абсолютно было необходимо для гармоничного развития личности.
            <p> Разработчику было бы удобно воспринимать информацию структурно и в сжатом виде,
            <p> но так, чтобы, при необходимости, всегда можно было бы получить более подробную информацию.
            <br>
            <p> Безусловно, на сайте представлена только общая информация, чтобы дать пользователю представление о
                предмете интереса.
            <p> Если пользователю понадобиться углубиться в заинтересовавшую его тему, он сможет сделать это
                самостоятельно.
             <br><br>
            <p> Некоторые разделы сайта, а именно раздел о кино, раздел о литературе, раздел об истории музыки и раздел об истории духовного поиска,
            <p> находятся в разработке, поэтому информации на них представлена не полностью,
            <p> однако, совсем закрывать раздел разработчик считает нецелесообразным.
            <p> Разработчик также считает важным, чтобы такой ресурс был доступен любому желающему, т.к.
            <p> по мнению создателя сайта, может способствовать расширению кругозора и повышению культурного уровня.
            <p> Поэтому оплата за пользование ресурсом, с точки зрения разработчика, браться не должна.
        </head>
        <body>

        </body>
    </html>

    </div>

{% endblock %}