<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block content %}

    <p>
    <div>
        <head>
            <meta charset="UTF-8">
            <title>Зачем?</title>

           
            <p> На сайте представлена только общая информация, чтобы дать пользователю представление о
                предмете интереса.
            <p> Если пользователю понадобиться углубиться в заинтересовавшую его тему, он сможет сделать это
                самостоятельно.
             <br><br>
            <p> Разработчик надеется, что данный ресурс может способствовать расширению кругозора и повышению культурного уровня.
        </head>
        <body>

        </body>
    </html>

    </div>

{% endblock %}